@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');

body{
    margin: 0;
    background-image: linear-gradient(45deg,#0f0c29,#302b63,#24243e);
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    background-size: cover;
    animation: fadeIn 4s;
    animation-delay: 0.5;

}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
html{
    scroll-behavior: smooth;
}
header{
    position: fixed;
    background-color: #0f0c29;
    width: 100%;
    z-index: 2;

}
h1 a{
    color: whitesmoke;
    text-decoration: none;
}
.navigation{
    align-items: center;
    padding:0px 25px 0px 25px;
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    justify-content: space-between;

}
.hamburger{
    font-size: 2rem;
}
.contain{
    margin:200px  0px 0px 0px;
    
}
.bigscreen{
    display: none;
}
.first_section{
color: whitesmoke;
text-align: center;
}
.first_section h1{
    font-size: 5rem;
    font-family:'ancizar sans', sans-serif;
}
.first_section p{
    font-size: 1.5rem;
    padding: 10px;
}
.btn{
    border-radius: 5px;
    border: 1px solid transparent;
    height: 50px;
    transition: border-color 0.3s ease-in-out;}

.btn:hover{
    color: whitesmoke;
    background-image:linear-gradient(45deg,#0f0c29,#302b63);
    border-color: #007bff;
 
}

.about{
    
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
}
.image img{
    border: 1px solid#ccc;
    border-radius: 10px;
    object-fit: cover;
    width: 300px;
    height: 300px;
    transition: border-color 0.3s ease-in-out;
}
.image img:hover{
    border-color: #007bff;
    box-shadow: 2px 5px 2px  rgba(0, 0, 0, .5);
}
.anima{
    margin-bottom: 12px;
    border-radius: 10px;
    border: 1px solid#ccc;
    transition: border-color 0.3s ease-in-out;
    
}
.anima:hover{
    border-color: #007bff;
    box-shadow: 2px 5px 2px  rgba(0, 0, 0, .5);
}
#SKILL{
    background:linear-gradient(to top,#21295c,#3a3d73,#434a8d);
    color: whitesmoke;
    scroll-margin: 50px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.together{
    padding: 30px;
    border: 1px solid #007bff;
    margin: 0 0 10px 0;
    transition: border-color .3s ease-in-out;
    box-shadow: 2px 5px 2px  rgba(0, 0, 0, .5);
}
.together:hover{
    border-radius: 10px;
    border-color: whitesmoke;
}
.project{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
    background-image: url("ME.jpg");
    object-fit: cover;
    background-position: center;
    align-items: center;
    padding: 0 30px;
}
.toge a{
    color: whitesmoke;
}
.toge{
    font-size: 2rem;
    font-weight: bold;
}
.proj{
    display: flex;
    flex-direction: column;
    border:1px solid whitesmoke;
    transition: border-color .3s ease-in-out;
    margin-bottom: 10px;
    border-radius: 10px;
    justify-content: center;
    
    
}
.proj:hover{
    border-color: #007bff;
    backdrop-filter: contrast(200%) ;
}
.lasts{
    display: flex;
    padding: 10px 30px;
}
.lastsect{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    justify-content: center;
    padding: 0 0 10px 0;
    
   
}
.lastsect label{
    font-size: 1.5rem;
    padding: 0 0 0 10px;
    font-family: "Ancizar Sans" , sans-serif;
}
input:not([type="checkbox"]){
    width: 90%;
    border: none;
    padding: 20px;
}
input:not([type="checkbox"]):hover,
input:not([type="checkbox"]):active
{
    border: 1px solid gray;
    background: none;
    color: white;
    
}

.makethem{
    display: flex;
    flex-direction: row;
    margin: 5px 0 0 0 ;
}
.over{
    text-align: center;
}
.bt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 5px 0;
}
button{
    height: 30px;
    width: 50%;
    border-radius: 5px;
    height: 40px;
}
button:hover{
    background: linear-gradient(45deg,#0f0c29,#302b63,#24243e);
    border-radius: 50px;
    color: whitesmoke;
}
.label{
    width: 95%;
    
}
.label:hover,
.labe:active{
    
        border: 1px solid gray;
        background: none;
        color: white;
        
    }
    

@media(min-width:40rem){
    .contain{
        margin: 20px auto 100px auto;
    }
    .first_section h1{
        font-size: 7rem;
        font-family:'ancizar sans', sans-serif;
        font-weight: bold;
    }
    .first_section p{
        font-size: 2rem;
        padding: 20px;
    }
    button{
        border-radius: 5px;
        border: none;
        height: 60px;
        width: 120px
    }
    .hamburger{
        display: none;
    }
    .bigscreen{
        width: 50%;
        display: block;
        display: flex;
        justify-content: space-between;
   }
   @keyframes zoom {
      0%{
          transform: scale(1);
      }
      50%{
        transform: scale(1.5);
      }
      100%{
          transform: scale(1);
      }
       
   }
   .bigscreen p a{
       color: whitesmoke;
       text-decoration: none;
       border: 1px solid transparent;
       border-radius: 5px;
       transition: border-color .2s ease-in-out;
   }
   .bigscreen p a:hover{
    padding: 7px;
    border-color: #007bff;
    
   }
   .about{
    animation:zoom 2s linear;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}
.grider{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, auto);
    
  
}
#SKILL{
   margin: 10px auto;
}

.big{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
}
.lastsect{
    border-radius: 10px;
    border:none;
    backdrop-filter: brightness(150%);
    padding: 30px;
}
.lasts{
    display: flex;
    margin: 0 auto;
}
input:not([type="checkbox"]){
    width: 90%;
    border: none;
    border-radius: 10px;
    padding: 20px;
}

}
